@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


.navbar {
    width: 100%;
    background-color: #a0c456;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 20px;
}

.logo {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
}

.icon {
    width: 35px;
    border-radius: 50%;
}

.name {
    padding-left: 10px;
    font-size: 35px;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
}

.menu {
    display: flex;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.5s ease;
    margin: 0px 10px;
}

.navbar ul li a:hover {
    background-color: #63734b;
}






/* lo que para el es vavbar, para mi es navbar
lo que para el es menu, para mi es menu

https://www.youtube.com/watch?v=W-nIX17Gg-Q
https://www.youtube.com/watch?v=aGY136vWjFo

creo que tengo que hacer otro container para mi logo y nombre
*/
