@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    list-style: none;
}


.navbar {
    width: 100%;
    background-color: #a0c456;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 20px;
}

.logo {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
    border: none;
}

.icon {
    width: 1.2rem;
    border-radius: 50%;
}

.name {
    padding-left: 10px;
    font-size: 1.2rem;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
}

.menu {
    display: flex;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.2rem 0.35rem;
    border-radius: 5px;
    transition: 0.5s ease;
    /*margin: 0px 10px;*/
    margin: 0rem 0.15rem;
}

.navbar ul li a:hover {
    background-color: #63734b;
}

table, th, td {
    border: 1px solid;
    
}

.bold {
    font-weight: 800;
}

.up_icon {
    width: 35px;
    display: block;
    margin-left: auto;
}

.icondb {
    padding: 20px;
    width: 10rem;       
}

.screenshot {
    padding: 20px;
    width: 35rem;
}

.screenshot, .icondb {
    display: block;
    margin: auto;
}


div {
    margin: 20px 45px;
    border: solid 1px;
}

p {
    margin: 10px;
}

li {
    padding: 10px;
}
/* 

Credits:
https://www.youtube.com/watch?v=W-nIX17Gg-Q
https://www.youtube.com/watch?v=aGY136vWjFo

*/
